
services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"    # AMQP (App connection)
      - "15672:15672"  # Admin/Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  calculator-api:
    build:
      context: ..
      dockerfile: src/Calculator.Api/Dockerfile
    container_name: calculator-api
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      RabbitMq__Host: rabbitmq
      RabbitMq__Port: 5672
      RabbitMq__Username: guest
      RabbitMq__Password: guest
    ports:
      - "5000:8080"

  calculationhistory-api:
    build:
      context: ..
      dockerfile: src/CalculationHistory.Api/Dockerfile
    container_name: calculationhistory-api
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      RabbitMq__Host: rabbitmq
      RabbitMq__Port: 5672
      RabbitMq__Username: guest
      RabbitMq__Password: guest
    ports:
      - "5001:8080"

volumes:
  rabbitmq_data:
